body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 750px;
}

a {
    position: absolute;
    font-size: 30px;
    text-decoration: none;
    height: 100px;
    width: 200px;
    font-family: sans-serif;
}