body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    position: absolute;
    font-size: 30px;
    text-decoration: none;
    height: 100px;
    width: 200px;
    line-height: 100px;
    font-family: sans-serif;
    background-color: cornflowerblue;
}
a::before {
    width: 100%;
    height: 100%;
    background-color: rgb(88, 135, 223);
    content: attr(title);
    position: absolute;
    text-align: center;
    transform-origin: bottom;
    transition: 1s;
    transform: translateY(-100%) rotateX(90deg);
}
a:hover::before {
    transform: translateY(0) rotateX(0deg);
}
a::after {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    text-align: center;
    background-color: cornflowerblue;
    transform: translateY(0%) rotateX(0deg) ;
}
a:hover::after {
    transform: translateY(50%) rotateX(90deg);
}
